{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/ineligible">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Have you thought about card tricks?
      </h1>

      <p>They might be more suitable for someone of your lesser talents.
        <br></br>
      <a href="http://lmgtfy.com/?q=simple+card+tricks"> Try this link.</a>
      </p>
    </div>
  </div>

{% endblock %}
